.article
  width: 90%
  margin-bottom: 40px

  @media only screen and (max-width: 1199px)
    width: 88%

  @media only screen and (max-width: 767px)
    width: 100%

  &_image
    display: block
    width: 100%
    height: auto
    margin-bottom: 30px

  &_category
    display: block
    font-family: $font-title
    font-weight: 400
    text-align: center
    text-transform: uppercase
    margin-bottom: 20px

    & > a
      color: inherit
      text-decoration-color: inherit
      transition: text-decoration-color .5s ease-out

      &:hover
        text-decoration-color: transparent

  &_title
    font-family: $font-body
    font-weight: 400
    text-align: center
    margin-bottom: 20px

  &_autors
    color: $date
    padding: 5px

    & > span
      margin-right: 5px

      &:nth-child(even):not(:last-child)
        &::after
          content: ' /'


  &_time
    color: $date
    padding: 5px

  &_body
    justify-content: space-around

    & a
      color: $red
      text-decoration-color: transparent
      text-decoration-style: dashed
      transition-property: text-decoration-color, text-decoration-color
      transition-duration: .4s
      transition-timing-function: ease-out


      &:hover
        text-decoration-color: $red

    & > *
      margin-bottom: 70px

      @media only screen and (max-width: 1680px)
        margin-bottom: 60px

      @media only screen and (max-width: 1199px)
        margin-bottom: 40px

      @media only screen and (max-width: 767px)
        margin-bottom: 20px

    & > p
      width: 100%

      &.content__text-name
        position: relative

        &::after
          content: attr(data-name)
          position: absolute
          top: calc(50% - 8px)
          right: auto
          bottom: auto
          left: -5px
          width: 20px
          font-family: $font-title
          font-weight: 700
          font-size: 16px
          text-align: right
          text-transform: uppercase
          font-style: normal

        @media only screen and (min-width: 576px)
          padding-left: 70px

          &::after
            top: calc(50% - 10px)
            left: 0
            width: 50px
            font-size: 24px

      & img
        max-width: 100%
        height: auto
        display: block
        margin: 30px auto 30px


      & span

        &.image_description
          color: #666666
          font-size: 13px
          line-height: 18px
          margin-bottom: 50px
          display: block
          text-align: center

          @media only screen and (max-width: 767px)
            margin-bottom: 30px

          &:last-child
            margin-bottom: 0

      & cite
        display: block
        line-height: 1.4
        border-left: 4px solid $red
        padding-left: 30px

      & iframe
        display: block
        max-width: 100%

    & > .instagram-media
      display: block
      box-sizing: border-box
      min-width: 220px!important

  &_paragraph
    line-height: 1.4
    font-weight: 300
    width: 100%

    & > a
      margin-left: 5px

      &:last-child
        margin-right: 5px


  &_figure
    width: 100%
    margin-bottom: 10px

    & > img
      display: block
      width: 100%
      height: auto

    & > figcaption
      text-align: center
      padding: 20px

    &.vertical
      width: 48%

      @media only screen and (max-width: 767px)
        width: 100%

  &_nlist,
  &_list
    list-style-position: inside
    font-weight: 300
    width: 100%

  &_list
    list-style-type: circle

  &_item
    line-height: 1.4

  &_blockquote
    color: $date
    font-weight: 500
    border-left: 1px solid $red
    margin-left: 49px
    padding-left: 20px

    & > p
      line-height: 1.4

      &:nth-child(n+2)
        margin-top: 20px


  &_video
    width: 100%

    &_container
      position: relative
      padding-bottom: 56.2493%

      & > iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


  &_footer

    &_tags
      list-style: none
      text-align: center

      & > li
        display: inline-block
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 30px



