.home
  padding-top: 70px
  padding-bottom: 70px

  &_header
    display: flex
    justify-content: space-between
    align-items: end
    margin-bottom: 30px

    @media only screen and (max-width: 480px)
      flex-wrap: wrap

  &_footer
    text-align: center

  &_shapter
    margin-bottom: 90px

    @media only screen and (max-width: 1680px)
      margin-bottom: 74px

    @media only screen and (max-width: 1199px)
      margin-bottom: 58px

    @media only screen and (max-width: 767px)
      margin-bottom: 40px

  & > .slider
    & > .topnews
      width: 35%
      padding-right: 2%

      @media only screen and (max-width: 1680px)
        width: 40%

      @media only screen and (max-width: 1199px)
        display: none

  & .banner_vertical
    display: none


