.home
  padding-top: 70px
  padding-bottom: 70px

  &_header
    display: flex
    justify-content: space-between
    align-items: end
    margin-bottom: 30px

    @media only screen and (max-width: 480px)
      flex-wrap: wrap

  &_footer
    text-align: center

  &_title
    display: flex
    align-items: center
    font-weight: 400

    &::before
      content: ''
      width: 15px
      height: 15px
      margin-right: 7px

    &_center
      text-align: center
      font-weight: 400
      margin-bottom: 70px

      @media only screen and (max-width: 1680px)
        margin-bottom: 56px

      @media only screen and (max-width: 1199px)
        margin-bottom: 42px

      @media only screen and (max-width: 767px)
        margin-bottom: 30px


  & > .slider
    margin-bottom: 90px

  &_lastnews
    display: flex
    box-shadow: -20px -20px #d69b89
    margin-bottom: 70px

    @media only screen and (max-width: 1199px)
      position: relative
      box-shadow: none

    @media only screen and (max-width: 767px)
      flex-wrap: wrap

    &_picture
      display: block
      width: 38%

      @media only screen and (max-width: 1680px)
        width: 40%

      @media only screen and (max-width: 1199px)
        width: 100%

    &_image
      display: inherit
      width: 100%

    &_content
      box-sizing: border-box
      position: relative
      background-color: $light
      width: 62%
      border: 2px solid $primary
      padding: 20px

      @media only screen and (max-width: 1680px)
        width: 60%

      @media only screen and (max-width: 1199px)
        position: absolute
        bottom: 0
        left: 0
        width: 100%

      @media only screen and (max-width: 767px)
        position: relative

      & > h1
        font-weight: 400
        text-align: center
        text-decoration: underline
        margin-bottom: 16px

      & > p
        font-size: 18px
        margin-bottom: 16px

        @media only screen and (max-width: 1680px)
          font-size: 17px

        @media only screen and (max-width: 1199px)
          font-size: 16px

        @media only screen and (max-width: 767px)
          font-size: 14px

      & > .btn
        position: absolute
        bottom: 0
        right: 0


  &_shapter
    margin-bottom: 90px

    @media only screen and (max-width: 1680px)
      margin-bottom: 74px

    @media only screen and (max-width: 1199px)
      margin-bottom: 58px

    @media only screen and (max-width: 767px)
      margin-bottom: 40px

  &_row
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    @media only screen and (max-width: 1199px)
      justify-content: space-around

    & > .card
      width: 24%

      @media only screen and (max-width: 1199px)
        width: 32%

        &:last-child
          margin-top: 30px

      @media only screen and (max-width: 767px)
        width: 45%

        &:nth-child(n+3)
          margin-top: 30px

      @media only screen and (max-width: 520px)
        width: 100%

        &:nth-child(n+2)
          margin-top: 30px


    & > .cardgallery
      width: 48%
      margin-bottom: 30px

      @media only screen and (max-width: 767px)
        margin-bottom: 20px

      @media only screen and (max-width: 767px)
        width: 100%

    & > .cardspecial
      width: 21%

      &::after
        content: ''
        position: absolute
        top: 17.5%
        right: -14%
        background-color: $primary
        width: 2px
        height: 65%

      &:last-child::after
        display: none


      @media only screen and (max-width: 1680px)
        width: 20%

        &::after
          right: -17%

      @media only screen and (max-width: 1199px)
        width: 40%

        &:nth-child(n+3)
          margin-top: 30px

        &:nth-child(odd)::after
          right: -13%

        &:nth-child(even)::after
          display: none

      @media only screen and (max-width: 767px)
        width: 80%

        &::after
          display: none

        &:nth-child(n+2)
          margin-top: 30px

      @media only screen and (max-width: 400px)
        width: 100%

    & > .cardinst
      width: 24%

      @media only screen and (max-width: 1199px)
        width: 32%

        &:last-child
          margin-top: 30px

      @media only screen and (max-width: 767px)
        width: 45%

        &:nth-child(n+3)
          margin-top: 30px

      @media only screen and (max-width: 520px)
        width: 100%

        &:nth-child(n+2)
          margin-top: 30px
