article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news1.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Павел Воля поздравил Ляйсан Утяшеву с днем рождения: "Ты – лучшее, что случилось со мной"

article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news2.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Одежда Dior от Трэвиса Скотта, баскетбольные мячи от Tiffany & Co: дайджест fashion-новостей недели

article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news3.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Наталия Орейро радикально сменила образ

article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news4.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Частный самолет и хорошее настроение: Бритни Спирс и Сэм Асгари отдыхают на Гавайях

// Banner tablet
include banner_tablet

article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news5.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Как стать принцессой гранжа: уроки стиля от Зои Кравиц

article(class="card")
	a(class="card_picture" href="#0")
		img(class="card_image" loading="lazy" src="./images/main/news6.webp" alt="" width="" height="")
	h2(class="card_title fs_24")
		a(href="#0") Дарья Клюкина, Надежда Сысоева и другие на бьюти-вечеринке в Москве

