section(class="mb_70")
	h2(class="title_center fs_36") К лету готова
	div(class="cardspecial_row row")
		article(class="cardspecial")
			a(class="cardspecial_link" href="#0")
				div(class="cardspecial_picture")
					img(class="cardspecial_image" loading="lazy" src="./images/main/summer1.webp" alt="" width="300" height="300")
				footer(class="cardspecial_footer")
					h3(class="cardspecial_title") Уход за кожей и волосами
					//- p(class="cardspecial_description") Как повторить прическу Манижи с "Евровидения": мастер-класс от стилиста

		article(class="cardspecial")
			a(class="cardspecial_link" href="#0")
				div(class="cardspecial_picture")
					img(class="cardspecial_image" loading="lazy" src="./images/main/summer2.webp" alt="" width="300" height="300")
				footer(class="cardspecial_footer")
					h3(class="cardspecial_title") Уход за кожей и волосами
					//- p(class="cardspecial_description") От принцессы Дианы до Мелании Трамп: прически, которые не выходят из моды

		article(class="cardspecial")
			a(class="cardspecial_link" href="#0")
				div(class="cardspecial_picture")
					img(class="cardspecial_image" loading="lazy" src="./images/main/summer3.webp" alt="" width="300" height="300")
				footer(class="cardspecial_footer")
					h3(class="cardspecial_title") Уход за кожей и волосами
					//- p(class="cardspecial_description") 5 лучших бьюти-процедур в преддверии лета: мнение Яны Лапутиной

		article(class="cardspecial")
			a(class="cardspecial_link" href="#0")
				div(class="cardspecial_picture")
					img(class="cardspecial_image" loading="lazy" src="./images/main/summer4.webp" alt="" width="300" height="300")
				footer(class="cardspecial_footer")
					h3(class="cardspecial_title") Уход за кожей и волосами
					//- p(class="cardspecial_description") От лаванды до зелени: весенне-летние тренды маникюра