ul(class="follow")
	li(class="follow_item")
		a(href="https://www.facebook.com/" target="_blank")
			include ../../images/social/facebook.svg
			span(class="sr-only") Facebook

	li(class="follow_item")
		a(href="https://vk.com/" target="_blank")
			include ../../images/social/vk.svg
			span(class="sr-only") Vkontakte

	li(class="follow_item")
		a(href="https://twitter.com/" target="_blank")
			include ../../images/social/twitter.svg
			span(class="sr-only") Twitter

	li(class="follow_item")
		a(href="https://ok.ru/" target="_blank")
			include ../../images/social/ok.svg
			span(class="sr-only") Одноклассники

	li(class="follow_item")
		a(href="https://instagram.com/" target="_blank")
			include ../../images/social/instagram.svg
			span(class="sr-only") Instagram

	li(class="follow_item")
		a(href="https://t.me/" target="_blank")
			include ../../images/social/telegram.svg
			span(class="sr-only") Telegram

	li(class="follow_item")
		a(href="https://www.youtube.com/" target="_blank")
			include ../../images/social/youtube.svg
			span(class="sr-only") YouTube
