header(class="navbar")
	div(class="container navbar_container")
		a(class="navbar_logo" href="/")
			span(class="sr-only") Перейти на главную
			include ../../images/logo.svg

		ul(class="navbar_menu")
			each val in ['звезды','монархи','мода','свадьбы','дети','красота','стиль жизни','кино','подарки','галереи']
				li(class="navbar_menu_item")
					ul(class="navbar_submenu")
						each val2 in ['звезды','монархи','мода','свадьбы']
							li(class="navbar_submenu_item")
								a(href="#0")= val2
					a(href="#0")= val

		div(class="navbar_button_container")
			a(class="navbar_button" href="https://www.facebook.com/HELLORussia" target="_blank")
				span(class="sr-only") Facebook
				include ../../images/social/facebook.svg
			a(class="navbar_button" href="https://www.instagram.com/hello__ru/" target="_blank")
				span(class="sr-only") Instagram
				include ../../images/social/instagram.svg
			div(class="navbar_button find")
				include ../../images/search.svg
			div(class="navbar_button burger")
				include ../../images/burger.svg




