section(class="readmore")
	h2(class="title_center fs_36") Читайте также
	div(class="row")
		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/01.webp"  loading="lazy" alt="" width="250" height="200")
			h3(class="readmore_card_title fs_24")
				a(href="#0") Одежда Dior от Трэвиса Скотта, баскетбольные мячи от Tiffany & Co: дайджест fashion-новостей недели

		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/02.webp"  loading="lazy" alt="" width="250" height="283")
			h3(class="readmore_card_title fs_24")
				a(href="#0") Блейк Лайвли испекла торт в виде арбуза в кольце за 2,5 миллиона долларов

		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/02.webp"  loading="lazy" alt="" width="250" height="283")
			h3(class="readmore_card_title fs_24")
				a(href="#0") Блейк Лайвли испекла торт в виде арбуза в кольце за 2,5 миллиона долларов

		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/03.webp"  loading="lazy" alt="" width="250" height="113")
			h3(class="readmore_card_title fs_24")
				a(href="#0") Павел Воля поздравил Ляйсан Утяшеву с днем рождения: "Ты – лучшее, что случилось со мной"

		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/04.webp"  loading="lazy" alt="" width="250" height="283")
			h3(class="readmore_card_title fs_24")
				a(href="#0") "Ангел" Victoria's Secret Тейлор Хилл выходит замуж

		article(class="readmore_card")
			div(class="readmore_card_image")
				img(src="./images/readmore/04.webp"  loading="lazy" alt="" width="250" height="283")
			h3(class="readmore_card_title fs_24")
				a(href="#0") "Ангел" Victoria's Secret Тейлор Хилл выходит замуж
