section(class="search")
	header(class="search_header")
		div(class="search_close") &#215;
	div(class="search_body")
		div(class="search_body_container")
			h2(class="search_title fs_24") Поиск
			form(class="search_form")
				input(class="search_input" type="search" value="" placeholder="")
				button(class="btn btn_search")
					span(class="sr-only") Найти

			section
				h3(class="search_subtitle fs_18") Популярные запросы:

				ul(class="search_list fs_14")
					li(class="search_item")
						a(href="#0") Меган Маркл и принц Гарри крестили сына
					li(class="search_item")
						a(href="#0") Меган Маркл
					li(class="search_item")
						a(href="#0") Кейт Миддлтон
					li(class="search_item")
						a(href="#0") Ирина Шейк
					li(class="search_item")
						a(href="#0") Анджелина Джоли

