aside(class="sidebar")
	div(class="sidebar_container")
		div(class="banner")
			a(class="banner_link" href="#0" target="_blank")
				div(class="banner_picture")
					img(class="banner_vertical" src="./images/banners/banner_vertical.webp" alt="" width="300" height="600")

			a(class="banner_small_link" href="#0" target="_blank")
				div(class="banner_picture")
					img(class="banner_small" src="./images/banners/banner_horizontal_small.webp" alt="" width="300" height="80")

			a(class="banner_small_link" href="#0" target="_blank")
				div(class="banner_picture")
					img(class="banner_small" src="./images/banners/banner_horizontal_small.webp" alt="" width="300" height="80")
