aside(class="sidebar")
	div(class="sidebar_container")
		section(class="topnews mb_40")
			h2(class="topnews_title fs_24") TOP NEWS / Звезды
			ul(class="topnews_list")
				li(class="topnews_item fs_14")
					a(href="#0") Не без проблем: принц Гарри прилетел в Великобританию на 60-летие со дня рождения принцессы Дианы
				li(class="topnews_item fs_14")
					a(href="#0") Без кольца и Тимати: Екатерина Сафарова улетела в Испанию и рассказала о жизни после "Холостяка"
				li(class="topnews_item fs_14")
					a(href="#0") Звезда сериала "Друзья" Кортни Кокс и Эд Ширан стали родственниками
				li(class="topnews_item fs_14")
					a(href="#0") Звезда сериала "Друзья" Кортни Кокс и Эд Ширан стали родственниками
				li(class="topnews_item fs_14")
					a(href="#0") Звезда сериала "Друзья" Кортни Кокс и Эд Ширан стали родственниками

		div(class="banner")
			div(class="banner_vertical_sidebar")
				img(class="" src="./images/banners/banner_vertical.webp" alt="" width="300" height="600")
