aside(class="sidebar")
	div(class="sidebar_container")
		section(class="topnews")
			h2(class="topnews_title fs_24") TOP NEWS / Звезды
			ul(class="topnews_list")
				li(class="topnews_item fs_14")
					a(href="#0") Не без проблем: принц Гарри прилетел в Великобританию на 60-летие со дня рождения принцессы Дианы
				li(class="topnews_item fs_14")
					a(href="#0") Без кольца и Тимати: Екатерина Сафарова улетела в Испанию и рассказала о жизни после "Холостяка"
				li(class="topnews_item fs_14")
					a(href="#0") Звезда сериала "Друзья" Кортни Кокс и Эд Ширан стали родственниками

		//section(class="banner")
		//	h2(class="sr-only") Заголовок рекламного банера
		//	a(class="banner_link" href="#0" target="_blank")
		//		div(class="banner_picture")
		//			img(class="banner_vertical" src="./images/banners/banner_vertical.png" alt="" width="300" height="600")
