aside(class="sidebar")
	div(class="sidebar_container")
		div(class="banner")
			div(class="banner_vertical_sidebar")
				img(class="" src="./images/banners/banner_vertical.webp" alt="" width="300" height="600")

			div(class="banner_horizontal_small")
				img(class="banner_small" src="./images/banners/banner_horizontal_small.webp" alt="" width="300" height="90")
