doctype html
html(lang="ru")
	include components/header.pug
	body
		include components/navbar.pug
		include components/sidenav.pug
		include components/search.pug

		div(class="container row page")
			main(class="category")
				h1(class="title fs_36") Видео

				div(class="category_row row  mb_70")
					div(class="cardnews_row row")
						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/01.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Зендая, Lil Nas X, Сиара, Карди Би и другие на премии BET Awards 2021
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 20:00") 28 июня 2021 / 20:00

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/02.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Ромео Бекхэм и его девушка Миа Реган впервые вместе вышли в свет
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 18:45

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50




					include components/sidebarTop

				// CARD_SPECIAL
				include components/card_special



				div(class="category_row row mb_70")
					div(class="cardnews_row row")
						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/01.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Зендая, Lil Nas X, Сиара, Карди Би и другие на премии BET Awards 2021
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 20:00") 28 июня 2021 / 20:00

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/02.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Ромео Бекхэм и его девушка Миа Реган впервые вместе вышли в свет
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 18:45


						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50




					include components/sidebarBanner.pug


				// Banner tablet
				include components/banner_tablet


				div(class="category_row row mb_70")
					div(class="cardnews_row row")
						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/01.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Зендая, Lil Nas X, Сиара, Карди Би и другие на премии BET Awards 2021
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 20:00") 28 июня 2021 / 20:00


						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/02.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Ромео Бекхэм и его девушка Миа Реган впервые вместе вышли в свет
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 18:45


						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/03.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Красная дорожка
								h2(class="cardnews_title fs_18")
									a(href="#0") Наоми Кэмпбелл впервые вышла в свет после рождения дочери
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 17:26") 28 июня 2021 / 17:26

						article(class="cardnews row")
							a(class="cardnews_picture" href="#0")
								img(class="cardnews_image" loading="lazy" alt="" src="./images/category/04.jpg" width="550" height="300")
								div(class="cardnews_play")
									include ../images/play-button.svg
							div(class="cardnews_content")
								p(class="cardnews_category fs_18")
									a(href="#0") Звездные пары
								h2(class="cardnews_title fs_18")
									a(href="#0") Евротур: Джастин и Хейли Бибер улетели отдыхать в Грецию
								footer(class="cardnews_footer row")
									time(class="cardnews_time" datetime="2021-06-28 18:45") 28 июня 2021 / 15:50




					include components/sidebarTop


		include components/footer
