.banner
  margin-left: auto
  margin-right: auto

  &_link,
  &_picture,
  &_image
    display: block
    width: 100%

  &_horizontal
    @media only screen and (max-width: 767px)
      display: none

  &_vertical
    @media only screen and (max-width: 767px)
      display: block
      max-width: 300px
      margin-left: auto
      margin-right: auto
