.cardinst
  overflow: hidden
  border-radius: 50%
  max-width: 300px

  &_link
    position: relative
    display: block
    text-decoration: none
    color: $light

    &:hover .cardinst_image
      transform: scale(1.2) translate(-42%, -42%)

  &_picture
    position: relative
    width: 100%
    overflow: hidden
    padding-top: 100%

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 120%)
      z-index: 1


  &_image
    position: absolute
    display: block
    top: 50%
    left: 50%
    min-width: 102%
    min-height: 102%
    transform: scale(1) translate(-50%, -50%)
    transition: transform .5s ease-out

  &_title
    position: absolute
    bottom: 50px
    left: 0
    width: 100%
    text-align: center
    z-index: 1

  &_row
    @media only screen and (max-width: 1199px)
      justify-content: space-around

    & > .cardinst
      width: 24%

      @media only screen and (max-width: 1199px)
        width: 31%

        &:last-child
          margin-top: 30px

      @media only screen and (max-width: 767px)
        width: 45%

        &:nth-child(n+3)
          margin-top: 30px

      @media only screen and (max-width: 520px)
        width: 100%

        &:nth-child(n+2)
          margin-top: 30px



