.card
  width: 46%

  &:nth-last-child(n+3)
    margin-bottom: 60px

  &:hover .card_image
    transform: scale(1.1)

  @media only screen and (max-width: 1680px)
    &:nth-last-child(n+3)
      margin-bottom: 50px

  @media only screen and (max-width: 1199px)
    &:nth-last-child(n+3)
      margin-bottom: 40px

  @media only screen and (max-width: 767px)
    &:nth-last-child(n+3)
      margin-bottom: 30px

  @media only screen and (max-width: 400px)
    width: 100%
    &:nth-last-child(n+2)
      margin-bottom: 30px



  &_picture
    position: relative
    display: block
    width: 100%
    padding-top: 60%
    overflow: hidden
    margin-bottom: 10px

    //&::before
    //  content: ''
    //  display: block
    //  position: absolute
    //  top: 0
    //  left: 0
    //  width: 100%
    //  height: 100%
    //  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 120%)
    //  z-index: 1

  &_image
    position: absolute
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center top
    transition: transform .8s ease-out

  &_title
    //font-family: $font-body
    font-weight: 400

    & > a
      color: inherit
      text-decoration-color: transparent
      transition: text-decoration-color .4s ease-out

      &:hover
        text-decoration-color: inherit
