.slider
  position: relative
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 90px

  @media only screen and (max-width: 1680px)
    margin-bottom: 74px

  @media only screen and (max-width: 1199px)
    margin-bottom: 58px

  @media only screen and (max-width: 767px)
    margin-bottom: 40px

  &_article
    display: none
    width: 65%

    @media only screen and (max-width: 1680px)
      width: 60%

    @media only screen and (max-width: 1199px)
      width: 100%

    &.active
      display: block

    &_header
      //box-shadow: 20px -20px #d0d9e8
      width: 100%


      @media only screen and (max-width: 1199px)
        box-shadow: none!important

    &_link
      display: block
      position: relative
      width: 100%
      padding-top: 66%
      overflow: hidden

    &_image
      position: absolute
      display: block
      top: 0
      bottom: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: top


    &_badge
      position: absolute
      top: 0
      left: 0
      width: 35%
      text-align: center

      @media only screen and (max-width: 1680px)
        width: 40%

      @media only screen and (max-width: 1199px)
        position: relative
        width: 100%


    &_body
      border-left: 2px solid $primary
      padding: 30px
      margin-bottom: 20px

      @media only screen and (max-width: 1680px)
        padding: 10px

      @media only screen and (max-width: 1199px)
        border-left: none
        padding: 30px 10px

      //@media only screen and (max-width: 767px)
      //  padding: 10px 0

    &_category
      display: block
      font: 400 16px $font-title
      text-transform: uppercase
      margin-bottom: 24px

      & > a
        color: inherit

    &_footer
      text-align: left

      @media only screen and (max-width: 1199px)
        display: none
      //text-align: center

    &_title
      font-family: $font-title
      font-weight: 500
      line-height: 1

      & > a
        color: inherit
        text-decoration: none

  &_dots
    position: absolute
    top: 90%
    right: 0
    width: 65%
    display: flex
    list-style: none
    justify-content: center
    align-items: center

    @media only screen and (max-width: 1680px)
      width: 60%

    @media only screen and (max-width: 1199px)
      width: 100%
      top: 74%

    @media only screen and (max-width: 999px)
      top: 70%

    @media only screen and (max-width: 799px)
      top: 65%

    @media only screen and (max-width: 699px)
      top: 62%

    @media only screen and (max-width: 599px)
      top: 57%

    @media only screen and (max-width: 499px)
      top: 47%

    @media only screen and (max-width: 399px)
      top: 39%

    @media only screen and (max-width: 299px)
      top: 30%


    &_item
      cursor: pointer
      display: block
      width: 10px
      height: 10px
      background-color: $light
      border: 2px solid transparent
        radius: 50%
      transition-property: background-color, border
      transition-duration: .3s
      transition-timing-function: ease-out

      &:not(:last-child)
        margin-right: 10px

      &.active
        background-color: transparent
        border: 3px solid $light


